# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text

# Scripts
*.sh text eol=lf

# Source code
*.js text
*.json text
*.html text
*.css text

# Archives
*.zip binary
*.tar binary
*.gz binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Audio/Video
*.mp3 binary
*.m4a binary
*.wav binary
*.mp4 binary
*.avi binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
